body {
    font-family: 'Poppins',sans-serif;
    padding: 0 5%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
    padding: 0 10%;
}



.button.post-meme {
    display: inline;
    background: #ff4b5c;
}

.button.post-meme:hover {
    color: #ff4b5c;
    background: none;
}

/* Submit Meme Form Styling */

.submit-meme {
    display: none;
}

.form-row {
    padding: 0 25%;;
    margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  border-radius: 6px;
  box-sizing: border-box;
}

.button {
  padding: 10px 12px;
  margin: 20px 0;
  border-radius:6px;
  box-sizing: border-box;
  background: crimson;
  color:white;
  border: 2px solid;
  display: block;
  transition: all 0.3s ease;
}

.button:hover{
  color:crimson;
  background: none;
}

.container {
    padding-top: 50px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

/* Memes Styling */

.memePost {
    padding: 30px 10px 0;
    margin: 0 10px 25px;
    width: 30%;
    flex-basis: content;
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #aaaaaa;
}

.first-three-memes {
    align-self: flex-start;
}

.memePost h2 {
    margin-top: 0;
}

.memePost img {
    width: 100%;
    border-radius: 6px;
}

.edit {
    padding: 5px 10px;
    display: inline-block;
    background: #00bcd4;

    display: block;
}

.button.edit:hover{
  color:#00bcd4;
  background: none;
}

/* Edit Page Styling */

.edit-form .form-row {
    padding: 0;
    margin-bottom: 20px;
}

.edit-form input {
    width: 60%;
}

.button.update {
    display: inline;
    background: #54e346;
}

.button.update:hover {
    color: #54e346;
    background: none;
}

.button.cancel {
    margin-left: 20px;
    display: inline;
    font-weight: 400;
    border: 2px solid;
    text-decoration: none;
    font-size: 13.333px;
    background: #ec0101;
}

.button.cancel:hover {
    color: #ec0101;
    background: none;
}



@media (max-width: 740px) {

    body {
        padding: 4%;
    }

    .top {
        justify-content: space-between;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }

    .form-row {
        padding: 0 10%;
        margin-bottom: 20px;
    }

    .memePost {
        width: 100%;
    }

    .edit-form .form-row {
        padding: 0;
        margin-bottom: 20px;
    }

    .edit-form input {
        width: 90%;
    }
}
